<div id="chart">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 4px;margin-top: 4px;">Language use distribution</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div style="display: block;">
            <!--<canvas #chart baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors]="pieChartColors">
            </canvas>-->
            <ngx-charts-pie-grid
              [scheme]="doughutColors"
              [results]="ngxChartData">
            </ngx-charts-pie-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
