<!-- <section class="d-xl-flex justify-content-xl-center align-items-xl-center" style="font-family: sans-serif;">

  <div class="container d-xl-flex">

  <div class="col-md-12">
    <section class="highlight-clean">

      <div class="container">
        <div class="intro">
          <h2 class="text-center" style="font-family: sans-serif;">Analytics</h2>
          <p class="text-center">See all the stats here.</p>
        </div>
      </div>

      <ng-container *ngIf="!wait; else waiting">
        <ng-container *ngIf="!datafound;else showInfo">
          <div class="col-md-12">
            <h4 class="d-xxl-flex justify-content-xxl-center">Upload your .json from Hackerrank below.&nbsp;<a href="#">Need
              help?
              Here's how to</a></h4>
          </div>
          <div class="row">
            <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-start">
              <input (change)="onChange($event)" class="d-xxl-flex justify-content-xxl-center" type="file">
            </div>
          </div>
        </ng-container>
        <ng-template #showInfo>
          <app-generalstats></app-generalstats>
          <h4 style="margin-top: 8px;">Language specific stats</h4>
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <app-chart></app-chart>
              <app-languagepercentages></app-languagepercentages>
            </div>
            <div class="col">
              <app-submissionlist></app-submissionlist>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #waiting>
        <ng-container *ngIf="submitted">
          <div class="col-md-12 d-flex d-xxl-flex justify-content-center"><span class="spinner-border" role="status"></span></div>
          <div class="col d-inline-flex d-xxl-flex justify-content-center">
            <header></header>
            <p class="text-center d-inline-flex d-xxl-flex align-items-xxl-center" style="margin-bottom: 0px;margin-top: 16px;">Loading....</p>
            <header></header>
          </div>
        </ng-container>
      </ng-template>
    </section>
  </div>
</div>
  -->
<!-- following is experimental

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/bs-init.js"></script>
</section>-->

<section class="d-xl-flex justify-content-xl-center align-items-xl-center" style="font-family: sans-serif;">
<div class="container d-xl-flex">
  <div class="col-md-12">
    <section class="highlight-clean">
      <div class="container">
        <div class="intro">
          <h2 class="text-center" style="font-family: sans-serif;">Analytics</h2>
          <p class="text-center">See all the stats here.</p>
        </div>
      </div>
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation"><a (click)="activateTab(0)" id="tab-header-0" class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-0" target="_self">Upload2</a></li>
          <li class="nav-item" role="presentation"><a (click)="activateTab(1)" id="tab-header-1" class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-1" target="_self">Analytics</a></li>
          <li class="nav-item" role="presentation"><a (click)="activateTab(2)" id="tab-header-2" class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2"target="_self">Upload</a></li>
          <li class="nav-item" role="presentation"><a (click)="activateTab(3)" id="tab-header-3"class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3" target="_self">Downloader</a></li>
        </ul>

        <div class="tab-content mt-2">
          <div class="tab-pane active" role="tabpanel" [attr.id]="'tab-0'">
            <!-- upload stuff -->
            <ng-container *ngIf="!loading; else submit">
                <div class="col-md-12">
                  <h4 class="d-xxl-flex justify-content-xxl-center">Upload your .json from Hackerrank below.&nbsp;<a href="#">Need
                    help?
                    Here's how to</a></h4>
                </div>
                <div class="row">
                  <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-start">
                    <input (change)="onChange($event)" class="d-xxl-flex justify-content-xxl-center" type="file">
                  </div>
                </div>
            </ng-container>
          <ng-template #submit>
            <div class="col-md-12 d-flex d-xxl-flex justify-content-center"><span class="spinner-border" role="status"></span></div>
            <div class="col d-inline-flex d-xxl-flex justify-content-center">
              <header></header>
              <p class="text-center d-inline-flex d-xxl-flex align-items-xxl-center" style="margin-bottom: 0px;margin-top: 16px;">Loading....</p>
              <header></header>
            </div>
          </ng-template>
        </div>
          <div class="tab-pane" role="tabpanel" [attr.id]="'tab-1'">
            <ng-container *ngIf="datafound">
              <app-analytics-insight></app-analytics-insight>
            </ng-container>
          </div>
          <div class="tab-pane" role="tabpanel" [attr.id]="'tab-2'">
            <app-submissionfilter></app-submissionfilter>
          </div>
          <div class="tab-pane" role="tabpanel" [attr.id]="'tab-3'">
            <p>Content for tab 3.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/chart.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
</section>
