<section class="highlight-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Hackerrank Indexer</h2>
      <p class="text-center">Advanced analysis of your hackerrank submissions.<br>No sign up needed, 100% free to use</p>
    </div>
    <!-- TODO gucken obs componentuebergreifend mit der href klappt-->
    <div class="buttons"><a class="btn btn-primary" role="button" href="#datanalysis">Take me there</a><button class="btn btn-light" type="button">How To</button></div>
  </div>
</section>
