<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>landing</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
  <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<ng-container *ngIf="!isUploaded">
  <app-front-page-header></app-front-page-header>
  <app-presentfeature-component></app-presentfeature-component>
  <!--<app-tutorial-video></app-tutorial-video>-->
</ng-container>
<app-dataanalytics id="datanalysis"></app-dataanalytics>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/chart.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
</body>
